@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

// Colors
$blue: #639bf6;
$softBlue: #93baf8;
$gray: #99aab3;
$red: #e76359;
$yellow: #f3c131;
$green: #57b370;
$white: #fff;
$black: #6a6e70;
$bg: #fefeff;

// Family
$font: "Poppins", sans-serif;
