<div class="splash" [class.hidden]="isHiddenSplash">
  <h1 class="fade-in">Welcome to futco translate!</h1>
</div>
<header>
  <span class="text-blue">F</span>
  <span class="text-red">u</span>
  <span class="text-yellow">t</span>
  <span class="text-green">c</span>
  <span class="text-red">o</span>
  <span class="ml text-gray">Translate</span>
</header>
<div class="container">
  <div class="languajes shadow radius">
    <span>English</span>
    <span>Spanish</span>
  </div>
  <div class="container-translate shadow radius mt">
    <div class="padding-text">
      <textarea
        [(ngModel)]="text"
        rows="10"
        placeholder="Enter your text"
        maxlength="300"
      ></textarea>
      <div class="controls">
        <i class="bx bxs-microphone text-gray"></i>
        <span class="text-gray">{{ text.length }}/300</span>
      </div>
    </div>
    <div class="padding-text bg-blue radius text-white">
      {{ resultText }}
    </div>
  </div>
</div>
